
html, body {
    background-color: #08511f;
    color: #fff;
    font-family: 'Cabin', sans-serif;    
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.large_guy{
    font-family: 'Passion One', cursive;
}

.top {
    position: relative;
    overflow: hidden;
}

.big_header{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 32%;
    left: 0px;
    top: 0px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: center;
    line-height: 0.95;
    flex-direction: column;
    text-shadow: 2px 2px #000000;
}

.big_header div:first-child{
    font-size: 102px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.big_header div:nth-of-type(2){
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.slide_container{
    display: flex;
    width: 100%;
    position: fixed;
}

.top .slide{
    /*position: relative;*/
    z-index: 4;
    /*background: #366301;*/
    bottom: 0px;
    left: -530px;
    /*transform-origin: right bottom;*/
    transform: rotate(344deg);
    width: 29%;
    height: 150vh;
    top: -180px;
    overflow: hidden;
}

.top .slide.one{
    margin-left: -150px;
    width: 35%;
}

.top .slide.two .bad_guy, .top .slide.two .bad_guy_two{
    z-index: 4;
    bottom: 0px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.top .slide.two .bad_guy::before{
    background-image: url('../images/_MD06048.JPG');
    left: -270px;
    width: 180%;
    top: 0px;
    height: 100%;
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center 150px;
    transform-origin: right bottom;
    transform: rotate(15deg);
}

.top .slide.two .bad_guy_two::before{
    background-image: url('../images/_MD05665.JPG');
    left: -270px;
    width: 180%;
    top: 0px;
    height: 100%;
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center -10px;
    transform-origin: right bottom;
    transform: rotate(15deg);
}

.top .slide.three .bad_guy, .top .slide.three .bad_guy_two{
    z-index: 4;
    bottom: 0px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}


.top .slide.three .bad_guy::before{
    background-image: url('../images/_MD05755.JPG');
    left: -270px;
    width: 180%;
    top: 0px;
    height: 100%;
    content: '';
    position: absolute;
    background-size: 100%;
    background-position: center 5px;
    transform-origin: right bottom;
    transform: rotate(15deg);
}

.top .slide.three .bad_guy_two::before{
    background-image: url('../images/_MD05949.JPG');
    left: -270px;
    width: 180%;
    top: 0px;
    height: 100%;
    content: '';
    position: absolute;
    background-size: 100%;
    background-position: center;
    transform-origin: right bottom;
    transform: rotate(15deg);
}

.top .slide.four{
    margin-right: -120px;
    width: 30%;
    /*width: 500px;*/
}

.top .slide.four .bad_guy, .top .slide.four .bad_guy_two{
    z-index: 4;
    bottom: 0px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}


.top .slide.four .bad_guy::before{
    background-image: url('../images/_MD05804.JPG');
    left: -420px;
    width: 180%;
    top: 0px;
    height: 100%;
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center 150px;
    transform-origin: right bottom;
    transform: rotate(15deg);
}

.top .slide.four .bad_guy_two::before{
    background-image: url('../images/_MD05779.JPG');
    left: -420px;
    width: 180%;
    top: 0px;
    height: 100%;
    content: '';
    position: absolute;
    background-size: cover;
    background-position: -60px 150px;
    transform-origin: right bottom;
    transform: rotate(15deg);
}


.logo{
    position: fixed;
    left: 25px;
    top: 25px;
    width: 55px;
    z-index: 6;

}

.logo img{
    width: 100%;
}

.full-height {
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}