<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

<div class="search_wrapper"><input type="text" placeholder="What are you looking for?"/></div>

<table class="data_wrapper">
<tr class="data_wrapper_header">
  <th>Name</th>
  <th>Gender</th>
  <th>First Timer</th>
  <th>Date Registered</th>
  <th>Tribe</th>
  <th>Career</th>
  <th>Phone No.</th>
</tr>
</table>

</div>
